$color-japanese-violet: #462255;
$color-deep-koamaru-blue: #313B72;
$color-shiny-shamrock: #62A87C;
$color-pastel-green: #7EE081;
$color-tea-green: #C3F3C0;

$primary-color: $color-deep-koamaru-blue;
$primary-text-color: #FFF;

html,
body {
  margin: 0;
  padding: 0;
  color: $color-deep-koamaru-blue;
}
* {
  margin-top: 0
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  background-color: $primary-text-color;
}
a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.site-wrapper {
  padding: 0 32px 32px 32px;
  max-width: 1140px;
  margin: 0 auto;
}
.hero-header {
  padding: 0 2rem;
  background-size: cover;
  background-position: top left;
  color: $color-deep-koamaru-blue;
}
.hero-img {
  width: 100%;
}
.headline {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 1rem;
  display: inline-block;
  background: $color-japanese-violet;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: $primary-text-color;
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  cursor: pointer;
  &.-primary {
    background-color: $color-deep-koamaru-blue;
    &:hover {
      background-color: lighten($color-deep-koamaru-blue, 20%);
    }
    &.active {
      background-color: lighten($color-deep-koamaru-blue, 20%);
    }
  }
  &--small {
    font-size: .75em;
    padding: .5rem;
    cursor: initial;
    margin-top: 1rem;
  }
  &:hover {
    background-color: darken($color-deep-koamaru-blue, 10%);
    color: $primary-text-color;
  }
}
.primary-content {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}
.card {
  display: grid;
  background:white;
  border-radius: 9px;
  border: 1px solid #eee;
  box-shadow: 0 0 30px #d5d5d5;
  overflow: hidden;
  text-align: center;
  line-height: 1.5;
  > header {
    padding: 24px;
  }
  .post-title {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
    small {
      font-size: 1.2rem;
    }
  }
  .post-meta {
    font-weight: 100;
    margin-bottom: .5rem;
  }
  .post-link {
    color: $color-deep-koamaru-blue;
    text-decoration: none;
  }
  .button {
    margin-right: 0;
  }
}
.post-meta {
  font-size: 1.2rem;
  color: $color-japanese-violet;
}
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  color: $color-japanese-violet;
  a {
    font-weight: 700;
  }
}
/* Portrait and Landscape */
@media only screen 
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen 
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}
